/* Reset CSS */
/*
  http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}
/* Mobile: 375px | Desktop: 1440px */
/* Ensure content is responsive and meets WCAG requirements by testing the full range of screen sizes from 320px to large screens. */
@font-face {
  font-family: 'Barlow Semi Bold';
  src: url('../fonts/Barlow-SemiBold.woff2') format('woff2'),
      url('../fonts/Barlow-SemiBold.woff') format('woff'),
      url('../fonts/Barlow-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces Bold';
  src: url('../fonts/Fraunces72pt-Bold.woff2') format('woff2'),
      url('../fonts/Fraunces72pt-Bold.woff') format('woff'),
      url('../fonts/Fraunces72pt-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces Black';
  src: url('../fonts/Fraunces72pt-Black.woff2') format('woff2'),
      url('../fonts/Fraunces72pt-Black.woff') format('woff'),
      url('../fonts/Fraunces72pt-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Primary */
  --red-400: hsl(7, 99%, 70%);
  --yellow-500: hsl(51, 100%, 49%);
  /* (graphic design text) */
  --green-800: hsl(167, 40%, 24%);
  /* (photography text) */
  --blue-800: hsl(198, 62%, 26%);
  /* (footer) */
  --breen-500: hsl(167, 34%, 41%);
  /* Neutral */
  --grey-950: hsl(212, 27%, 19%);
  --grey-600: hsl(213, 9%, 39%);
  --grey-550: hsl(232, 10%, 55%);
  --grey-400: hsl(210, 4%, 67%);
  --white: hsl(0, 100%, 100%);
}

/* General */

body {
  font-size: 18px;
}
